@font-face{
    font-family: 'GothamRounded';
    src: url('./fonts/GothamRoundedLight.otf');
    font-weight: 300;
    font-style: normal;

}
@font-face{
    font-family: 'GothamRoundedMedium';
    src: url('./fonts/GothamRoundedMedium.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'GothamRoundedBookItalic';
    src: url("./fonts/GothamRoundedBookItalic.otf");
    font-weight: normal;
    font-style: italic;
}

:root{
    --blackColor: #000000;
    --lightYellow: #ffe16d;
    --backgroundVideo: #fff2c0;
    --blue:  #2685b8;
    --wrong: #f95f62;
}
body {
    margin: 0;
    color: var(--blackColor);
    font-family: GothamRoundedMedium, sans-serif;
}
/*header*/
.head {
    height: 70px;
    width: auto;
    background-color:var(--lightYellow);
}
.menu-btn{
    position: relative;
    left: 22px;
    top: 20px;
    cursor: pointer;
}
.logo {
    position: relative;
    top:-20px;
    left:80px;
}
/*main content*/
.login-page{
    display: flex;
}
.video {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 790px;
    background-color: var(--backgroundVideo);
}
.video-svg{
    width: 428.6px;
    height: 253.7px;
    object-fit: contain;
}
.login-form {
    padding-left: 125px;
    padding-right: 155px;
    width: 50%;
}
.login-form h3 {
    margin-top: 105px;
    font-family: GothamRounded, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
}
.login-form p {
    font-size: 30px;
    line-height: 1.2;
}
.login-form .form{
    position: relative;
}
.login-form input {
    width: 450px;
    height: 50px;
    border-radius: 2px;
    border: solid 1px var(--blue);
    margin-bottom: 55px;
    padding-left: 10px;
    color: var(--blue);
    cursor: pointer;
}
.login-form .Email {
    font-size: 18px;
    line-height: 1.44;
}
.login-form .wrong{
    position: relative;
    top:-40px;
    left: 10px;
    font-size: 15px;
    font-family: GothamRoundedBookItalic, sans-serif;
    line-height: 1.4;
    color: var(--wrong);
    display: none;
}
.div-pass{
    position: relative;
}
.login-form .Password {
    font-size: 18px;
    line-height: 1.44;

}

.-visibility-button{
    width: 35.2px;
    height: 24px;
    object-fit: contain;
    position: absolute;
    top: 11px;
    right: 13px;
}

input:valid:not(:placeholder-shown) {
    border-color: var(--blue);
}
input:invalid:not(:placeholder-shown) {
    border-color: var(--wrong);
}
input:invalid:not(:placeholder-shown) + .wrong {
    display: block;
}

.login-btn {
    width: 450px;
    height: 45px;
    border-radius: 2px;
    border: solid 1px var(--blue);
    background-color: var(--blue);
    color: #ffffff;
    font-size: 16px;
    display: block;
    margin-top: 51px;
    margin-bottom: 30px;
}
.login-btn-google{
    width: 450px;
    height: 45px;
    cursor: pointer;
    margin-bottom: 30px;
}
.forgot-pass {
    font-family: GothamRounded, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: var(--blackColor);
    cursor: pointer;
}


@media (max-width: 768px) {
    .login-page{
        flex-direction: column;
        margin: auto;
    }
    .video{
        align-items: normal;
        height: 350px;
        margin: auto;
    }

}
@media (max-width: 1070px) {
    .video{
        margin-left: 10px;
    }
    .login-form {
        padding-left: 20px;
    }
}
@media (max-width: 1200px) {
    .login-form {
        padding-left: 75px;
        padding-right: 20px;
    }
}


