@font-face{
    font-family: 'GothamRounded';
    src: url('./fonts/GothamRoundedLight.otf');
    font-weight: 300;
    font-style: normal;

}
@font-face{
    font-family: 'GothamRoundedMedium';
    src: url('./fonts/GothamRoundedMedium.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'GothamRoundedBookItalic';
    src: url("./fonts/GothamRoundedBookItalic.otf");
    font-weight: normal;
    font-style: italic;
}

:root{
    --blackColor: #000000;
    --lightYellow: #ffe16d;
    --timelineYellow: #ffe891;
    --waiting-call: #ffc82c;
    --timelineActive: #bde3f7;
    --backgroundVideo: #fff2c0;
    --call-list: #dfe1e5;
    --blue: #2685b8;
    --darkBlue: #06227e;
    --lightBlue: #63aed8;
    --on-call: #1d45c7;
    --wrong: #f95f62;
    --waitingPanel: #ffd2c0;
    --consultationsPanel: #fff2c0;
    --blueP: #06d3b5;
    --greenP: #26b706;
    --start-call:#77d353;
    --yellowP: #fcb004;
    --timeOrange: #ff6629;
    --orangeP: #fa6707;
    --redP: #ff1700;
    --customerExit:#4a4a4a;
}
body {
    margin: 0;
    overflow-x: hidden;
    color: var(--blackColor);
    font-family: GothamRoundedMedium, sans-serif;
}
/*header*/
.topbar{
    background-color:var(--lightYellow);
    display: flex;
    justify-content: space-between;
    width: 102%;
}
.menu-btn{
    position: relative;
    left: 22px;
    top: 20px;
    cursor: pointer;
}
.logo {
    position: relative;
    top:-20px;
    left:80px;
}
.doctor-head{
    padding-right: 37px;
    display: flex;
}
.doctor-name{
    padding-right: 11px;
}
.doctor-name h3{
    font-family: GothamRoundedMedium, sans-serif;
    font-size: 18px;
    margin-top: 15px;
    text-align: right;
    margin-bottom: 7px;
}
.doctor-name p{
    font-family: GothamRounded, sans-serif;
    font-size: 16px;
    text-align: right;
    margin: 0;
}
.doctor-head img{
    width: 55px;
    height: 55px;
    margin-top: 8px;
    border: solid 1px var(--blue);
    border-radius: 50%;
}
/*main logo content*/
.login-page{
    display: flex;
}
.video {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    background-color: var(--backgroundVideo);
}
.video-svg{
    width: 428.6px;
    height: 253.7px;
    object-fit: contain;
}
.login-form {
    padding-left: 125px;
    padding-right: 155px;
    width: 50%;
}
.login-form h3 {
    margin-top: 105px;
    font-family: GothamRounded, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
}
.login-form p {
    font-size: 30px;
    line-height: 1.2;
}
.login-form .form{
    position: relative;
}
.login-form input {
    width: 450px;
    height: 50px;
    border-radius: 2px;
    border: solid 1px var(--blue);
    margin-bottom: 55px;
    padding-left: 10px;
    color: var(--blue);
    cursor: pointer;
}
.login-form .Email {
    font-size: 18px;
    line-height: 1.44;
}
.login-form .wrong{
    position: relative;
    top:-40px;
    left: 10px;
    font-size: 15px;
    font-family: GothamRoundedBookItalic, sans-serif;
    line-height: 1.4;
    color: var(--wrong);
    display: none;
}
.div-pass{
    position: relative;
    width: 450px;
}
.login-form .Password {
    font-size: 18px;
    line-height: 1.44;
}
.-visibility-button{
    width: 35.2px;
    height: 24px;
    object-fit: contain;
    position: absolute;
    top: 11px;
    right: 13px;
}
input:valid:not(:placeholder-shown) {
    border-color: var(--blue);
}
input:invalid:not(:placeholder-shown) {
    border-color: var(--wrong);
}
input:invalid:not(:placeholder-shown) + .wrong {
    display: block;
}
.login-btn {
    width: 450px;
    height: 45px;
    border-radius: 2px;
    border: solid 1px var(--blue);
    background-color: var(--blue);
    color: #ffffff;
    font-size: 16px;
    display: block;
    margin-top: 51px;
    margin-bottom: 30px;
}
.login-btn-google{
    width: 450px;
    height: 45px;
    cursor: pointer;
    margin-bottom: 30px;
}
.forgot-pass {
    font-family: GothamRounded, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: var(--blackColor);
    cursor: pointer;
}

/*main client page*/

/*waiting call panel*/
.waitingCall-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
}
.waitingCall-panel > .waitingCallBlock{
    display: flex;
}
.waitingCallBlock > .icon-call {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
}
.icon-call > span{
    padding-top: 28px;
}
/*main call panel*/
.main-call-panel{
    position: relative;
}
.video-call{
    position: absolute;
    left: 30px;
    top: 0;
    z-index: 600;
    width: 100%;
}
.main-call-panel h2>span{
    font-family: GothamRoundedBookItalic, sans-serif;
    font-size: 18px;
    border-bottom: 3px solid var(--timelineYellow);
    margin-left: 270px;
}


/*customer panel*/
.customer{
    background-color: rgba(189,227,247,0.5);
    border-left: 10px solid  var(--lightBlue);
    margin: 7px;
    -webkit-border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
    border-radius: 0 10px 0 0;
    position: relative;
    font-family: GothamRoundedMedium, sans-serif;
    font-size: 24px;
}
.customer .exit{
    font-size: 14px;
    color: var(--customerExit);
    position: absolute;
    top: 15px;
    right: 15px;
}
.customer .exit > img {
    background-color: var(--customerExit);
    border-radius: 50%;
    border: 5px solid var(--customerExit);
    margin-left: 3px;
}
.customer-detail{
    display: flex;
    font-size: 18px;
    font-family: GothamRoundedBookItalic, sans-serif;
    align-items: center;
}
.customer-detail > div {
    margin: 10px;
}
.customer-detail .medicine{
    border-left: 1px solid var(--lightBlue);
    border-right: 1px solid var(--lightBlue);
    padding: 15px;
}
.customer-detail .diagram {
    display: flex;
}
.diagram > div {
    width: 90px;
    height: 150px;
    display: flex;
}
.diagram .blue {
    border-bottom: 18px solid var(--blueP);
}
.diagram .green {
    border-bottom: 18px solid var(--greenP);
}
.diagram .yellow {
    border-bottom: 18px solid var(--yellowP);
}
.diagram .orange {
    border-bottom: 18px solid var(--orangeP);
}
.diagram .red {
    border-bottom: 18px solid var(--redP);
}
.diagram .active{
    width: 120px;
}

.number-blue {
    padding: 5px;
    border-bottom: 3px solid var(--blueP);
}
.number-green {
    padding: 5px;
    border-bottom: 3px solid var(--greenP);
}
.number-yellow {
    padding: 5px;
    border-bottom: 3px solid var(--yellowP);
}
.number-orange {
    padding: 5px;
    border-bottom: 3px solid var(--orangeP);
}
.number-red {
    padding: 5px;
    border-bottom: 3px solid var(--redP);
}
.person {
    display: flex;
    flex-direction: column;
}
.person-svg {
    padding-top: 5px;
    height: 105px;
}
.person-polygon {
    padding-top: 5px;
}
/*timeline*/
.timelineContainer{
    margin: 0;
}
.timelineContainer h2 > span{
    font-family: GothamRounded, sans-serif;
    font-size: 18px;
    border-bottom: 3px solid var(--timelineYellow);
    margin: 20px;
}
.timeline > ul {
    list-style-type: none;
    position: relative;
    width: 260px;
}
.timeline:before {
    content: ' ';
    background: var(--timelineYellow);
    display: inline-block;
    position: absolute;
    left: 27px;
    width: 6px;
    height: 100%;
    z-index: 400;
}
.timeline{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.timeline > ul > li {
    padding-left: 20px;
    margin-bottom: 30px;
    margin-left: -10px;
    width: 90%;
}
.timeline > ul > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: 3px solid var(--lightBlue);
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.timeline > ul > li > h6{
    font-family: GothamRoundedMedium, sans-serif;
    font-size: 16px;
}
.timeline > ul > li > span {
    font-family: GothamRoundedBookItalic, sans-serif;
    font-size: 14px;
}
.timeline > ul > .active {
    background-color: var(--timelineActive);
}
.timeline > ul > .active:before {
    background-color: var(--lightBlue);
}
.timeline > a {
    font-family: GothamRoundedBookItalic, sans-serif;
    font-size: 12px;
    color: var(--darkBlue);
    width: 260px;
    display: inline-block;
    position: relative;
    margin-top: 40px;
    bottom: 20px;
    left: 48px;
}
/*notes container*/
.new-notes{
    color: var(--darkBlue);
    font-family: GothamRoundedMedium, sans-serif;
    font-size: 20px;
    margin: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 25px;
}
.new-notes > img {
    background-color: var(--darkBlue);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
}
.one-note{
    width: 100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: white;
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
}
.one-note > .note-date h3{
    font-family: GothamRoundedMedium, sans-serif;
    font-size: 18px;
}
.one-note > .note-date > p{
    font-family: GothamRoundedBookItalic, sans-serif;
    font-size: 16px;
}
.one-note > .consultation-note {
    position: absolute;
    top: 15px;
    right: 15px;
    font-family: GothamRoundedBookItalic, sans-serif;
    font-size: 12px;
}
.one-note > .text {
    font-family: GothamRoundedBookItalic, sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}
.one-note > .associated{
    border-top: 1px dashed black;
    padding-top: 15px;
    font-family: GothamRoundedBookItalic, sans-serif;
    font-size: 16px;
}
.active-note{
    background-color: var(--timelineActive);
}
/*call control panel*/
.call-control-panel{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.call-control-panel .call-control-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.call-control-panel h3{
    color: var(--darkBlue);
    font-family: GothamRoundedBookItalic, sans-serif;
    font-size: 14px;
    margin: 7px;
}
.timer{
    padding: 35px;
    font-family: GothamRoundedBookItalic, sans-serif;
    font-size: 34px;
}
.call-settings{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 16px;
}
.call-settings .terminal{
    font-family: GothamRoundedMedium, sans-serif;
    font-size: 20px;
    color: var(--wrong);
    display: flex;
    align-items: center;
}
.terminal img{
    width: 31px;
    height: 31px;
    padding-left: 10px;
}

/*call container*/
.call-panel{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin: 9px;
}
.call-panel h2{
    color: var(--darkBlue);
    font-family: GothamRoundedBookItalic, sans-serif;
    font-size: 14px;
    margin: 7px;
}
.call-panel  .call-list {
    position: relative;
    padding: 20px;
    margin-top: 20px;
}
.call-list:before{
    position: absolute;
    content: '';
    width: 300px;
    height: 6px;
    border-radius: 3px;
    background-color: var(--call-list);
    left: 80px;
    top:0;
    z-index: 400;
}
.btn{
    padding: 10px;
}
.call-list input{
    content: '';
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.call-list > .exit-call{
    color: var(--wrong);
    position: relative;
}
.exit-call:before{
    content: '';
    position: absolute;
    background-image: url("./img/exit-call.svg");
    left:40%;
    top: -35px;
    width: 32px;
    height: 32px;
    z-index: 500;
}
.call-list > .waiting-call{
    color: var(--waiting-call);
    position: relative;
}
.call-list > .waiting-call:before{
    content: '';
    position: absolute;
    background-image: url("./img/waiting-call.svg");
    left:40%;
    top: -35px;
    width: 32px;
    height: 32px;
    z-index: 500;
}
.call-list > .on-call{
    color: var(--on-call);
    position: relative;
}
.on-call:before{
    content: '';
    position: absolute;
    background-image: url("./img/on-call.svg");
    left:40%;
    top: -35px;
    width: 32px;
    height: 32px;
    z-index: 500;
}
.call-list > .start-call{
    color: var(--start-call);
    position: relative;
}
.start-call:before{
    content: '';
    position: absolute;
    background-image: url("./img/on-call.svg");
    left:40%;
    top: -35px;
    width: 32px;
    height: 32px;
    z-index: 500;
    padding: 10px;
    border-radius: 50%;
    border: solid 1px var(--start-call);
}
/*last consultation panel*/
.last-consultations{
    background-color: var(--consultationsPanel);
    margin: 9px;
    color: var(--darkBlue);
}
.last-consultations h2{
    font-family: GothamRoundedBookItalic, sans-serif;
    font-size: 18px;
    padding: 16px;
}
.last-consultations a{
    padding: 16px;
    margin-left: 16px;
    font-family: GothamRoundedBookItalic, sans-serif;
    font-size: 12px;
    text-decoration: underline;
}
.consultations-block{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}
.consultations-block  img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.consultations-block h3{
    font-family: GothamRounded, sans-serif;
    font-size: 7px;
    margin: 0;
}
.consultations-block p {
    font-family: GothamRounded, sans-serif;
    font-size: 6px;
    padding-bottom: 15px;
}
.consultation-1{
    height: 60%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    z-index: 1;
    margin-right: -5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.consultation-2{
    height: 80%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    z-index: 2;
    margin-right: -5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.consultation-2 > img, .consultation-4 > img{
    width: 42px;
    height: 42px;
}
.consultation-3{
    height: 100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--lightYellow);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.consultation-3 > img{
    width: 55px;
    height: 55px;
}
.consultation-3 > h3 {
    font-size: 10px;
}
.consultation-3 > p{
    font-size: 9px;
}
.consultation-4{
    height: 80%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    z-index: 4;
    margin-left: -5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.consultation-5{
    height: 60%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    z-index: 3;
    margin-left: -5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.consultations-block > .prew , .consultations-block > .next{
    cursor:pointer;
    color: white;
    background-color: var(--darkBlue);
    margin: 5px;
    padding: 0 5px;
    border-radius: 50%;

}
/* clients waiting panel */
.waiting-patiens{
    height: 100%;
    margin: 9px;
    padding: 15px;
    background-color: var(--waitingPanel);
    color: var(--darkBlue);
}
.waiting-patiens h2{
    font-family: GothamRoundedBookItalic, sans-serif;
    font-size: 18px;
    padding: 16px;
}
.one-waiting{
    width:80%;
    height: 100px;
    background-color: white;
    border-radius: 50px 0 0 50px;
    margin: 15px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.one-waiting > img{
    margin-left: 5px;
}
.patient-info > h4 {
    font-family: GothamRoundedMedium, sans-serif;
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
}
.patient-info > p{
    font-family: GothamRoundedBookItalic, sans-serif;
    font-size: 16px;
}
.time {
    font-family: GothamRoundedMedium, sans-serif;
    font-size: 24px;
    margin-right: 15px;
    color: var(--timeOrange);
}



@media (max-width: 768px) {
    .login-page{
        flex-direction: column;
        margin: auto;
    }
    .video{
        align-items: normal;
        height: 350px;
        margin: auto;
    }

}
@media (max-width: 1070px) {
    .video{
        margin-left: 10px;
    }
    .login-form {
        padding-left: 20px;
    }
}
@media (max-width: 1200px) {
    .login-form {
        padding-left: 75px;
        padding-right: 20px;
    }
}
@media (max-width: 1370px) {
   .timelineContainer{
       padding-right: 5px;
   }
    .consultation-1{
        margin-left: 17px;
    }
}

